
//
// VARIABLES
//

// Colors
//$blue: #4183C4;

// logo colors 
$darkblue: #263573;
$blue: #5591d1;
$red: #C13131;
$gray: #919191;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
//$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$site_font: Vollkorn;
$helvetica: $site_font;// Helvetica, Arial, sans-serif;
$helveticaNeue: $site_font;//"Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: $site_font;//Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 656px) {
    @content;
  }
}